<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main class="register-main">
        <h2>Agregar/Editar productos</h2>
        <form action="GET">
            <div class="add-product">
                <label for="">Nombre del curso</label>
                <input type="text" name="nombre-curso" id="">
            </div>
            <div class="add-product">
                <label for="">Breve descripción del curso</label>
                <input type="text" name="descr-breve" id="">
            </div>
            <div class="add-product add-img">
                <label for="">Fotos del curso</label>
                <input type="file" name="foto" accept=".jpg, .png" id="foto">
            </div>
            <div class="add-product">
                <label for="">Para que sirve este curso?</label>
                <input type="text" name="para-que" id="">
            </div>
            <div class="add-product">
                <label for="">Contenidos del curso</label>
                <input type="text" name="contenidos" id="">
            </div>
            <div class="add-product">
                <label for="">Descripción detallada del curso</label>
                <input type="text" name="descr-detalalda" id="">
            </div>
            <div class="add-product">
                <label for="">El programa incluye:</label>
                <input type="text" name="prog-inluye" id="">
            </div>
            <div class="add-product add-price">
                <label for="">Precio del curso:</label>
                <input type="text" name="precio" id="">
            </div>

            <button class="card-buy register-btn">Agregar</button>
            <button class="card-cart login-btn edit-product">Editar</button>
        </form>



    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>