<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/b0a3676e9b.js" crossorigin="anonymous"></script>
    <title>Job Search Experience - Login</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav-izq">
                <li><a href="/">Home</a></li>
                <li><a href="#">Programas</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
            <div class="header-mobile">
                <i class="fas fa-bars"></i>
                <h1 id="logo">Job Search Experience</h1>
                <div class="mobile-icons">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <ul class="nav-der">
                <li><a href="#">Carrito</a></li>
                <li><a href="login.html">Ingreso</a></li>
                <li><a href="register.html">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="register-main">
        <h2>Inicia Sesión</h2>
        <form action="GET">
            <div>
                <i class="fas fa-user"></i><input type="text" name="usuario" id="usuario" placeholder="Jose Hernández">
            </div>
            <div>
                <i class="fas fa-envelope"></i><input type="email" name="email" id="contraseña"
                    placeholder="tuemail@email.com">
            </div>
            <div>
                <i class="fas fa-lock"></i><input type="password" name="contraseña" id="contraseña"
                    placeholder="********">
            </div>
            <button class="card-buy register-btn">Iniciar Sesion</button>
        </form>
        <section class="register-opt">
            <p>O ingresa con una de las siguientes:</p>
            <div class="register-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
            </div>
            <p>No tienes una cuenta?</p>
            <button class="card-cart login-btn">Registrarse</button>
        </section>
    </main>
    <footer>
        <div class="footer-social">
            <i class="fab fa-twitter"><a href="https://twitter.com/"></a></i>
            <i class="fab fa-instagram"><a href="https://www.instagram.com/"></a></i>
            <i class="fab fa-facebook-f"><a href="https://www.facebook.com/"></a></i>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/"></a></i>
        </div>
        <nav>
            <ul class="footer-izq">
                <li><a href=""></a>HOME</li>
                <li><a href=""></a>PROGRAMAS</li>
                <li><a href=""></a>NOSOTROS</li>
            </ul>
            <ul class="footer-der">
                <li><a href=""></a>CARRITO</li>
                <li><a href=""></a>INGRESO</li>
                <li><a href=""></a>REGISTRO</li>
            </ul>
        </nav>
        <div class="rights">
            <p>All rights reserverd</p><i class="far fa-copyright"></i>
        </div>
    </footer>
</body>

</html>