<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/b0a3676e9b.js" crossorigin="anonymous"></script>
    <title>Job Search Experience</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav-izq">
                <li><a href="/">Home</a></li>
                <li><a href="#programs">Programas</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
            <div class="header-mobile">
                <i class="fas fa-bars"></i>
                <h1 id="logo">Job Search Experience</h1>
                <div class="mobile-icons">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <ul class="nav-der">
                <li><a href="productCart.html">Carrito</a></li>
                <li><a href="login.html">Ingreso</a></li>
                <li><a href="register.html">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="cart-main">
        <h2>Carrito de compras</h2>
        <section class="cart-container">
            <p class="cart-quantity">3 cursos en su carrito</p>
            <article class="cart-product">
                <div class="cart-img">
                    <i class="fas fa-times-circle"></i>
                    <img src="/images/Rectangle.png" alt="">
                </div>
                <div class="cart-item-data">
                    <h3>Lorem ipsum dolor sit</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr
                    </p>
                    <span class="cart-item-price">Precio: $3.500 ARS</span>
                </div>
            </article>
            <article class="cart-product">
                <div class="cart-img">
                    <i class="fas fa-times-circle"></i>
                    <img src="/images/Rectangle.png" alt="">
                </div>
                <div class="cart-item-data">
                    <h3>Lorem ipsum dolor sit</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr
                    </p>
                    <span class="cart-item-price">Precio: $3.500 ARS</span>
                </div>
            </article>
            <article class="cart-product">
                <div class="cart-img">
                    <i class="fas fa-times-circle"></i>
                    <img src="/images/Rectangle.png" alt="">
                </div>
                <div class="cart-item-data">
                    <h3>Lorem ipsum dolor sit</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr
                    </p>
                    <span class="cart-item-price">Precio: $3.500 ARS</span>
                </div>
            </article>
        </section>
        <section class="cart-checkout">
            <p class="discount">Descuento x 3 del 15%</p>
            <p class="cart-total-price">Total: $10.500 ARS</p>
            <button class="card-buy register-btn checkout-btn">Continuar</button>
            <div class="coupon">
                <input type="text" placeholder="Ingresar cupón"><button class="card-cart login-btn">Aplicar</button>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-social">
            <i class="fab fa-twitter"><a href="https://twitter.com/"></a></i>
            <i class="fab fa-instagram"><a href="https://www.instagram.com/"></a></i>
            <i class="fab fa-facebook-f"><a href="https://www.facebook.com/"></a></i>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/"></a></i>
        </div>
        <nav>
            <ul class="footer-izq">
                <li><a href=""></a>HOME</li>
                <li><a href=""></a>PROGRAMAS</li>
                <li><a href=""></a>NOSOTROS</li>
            </ul>
            <ul class="footer-der">
                <li><a href=""></a>CARRITO</li>
                <li><a href=""></a>INGRESO</li>
                <li><a href=""></a>REGISTRO</li>
            </ul>
        </nav>
        <div class="rights">
            <p>All rights reserverd</p><i class="far fa-copyright"></i>
        </div>
    </footer>
</body>

</html>