* {
	box-sizing: border-box;
	font-family: "Hind", sans-serif;
	font-size: 18px;
}
body {
	overflow-y: scroll;
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
}
/* LOGO COMO H1 CON TEXTO OCULTO */
#logo {
	width: 94.8638px;
	height: 36.1242px;
	background: url(../images/logo-02.svg) no-repeat center;
	font-size: 0;
	z-index: 1070;
	margin: auto;
}
/* HEADER */
header {
	background-color: white;
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
header nav ul {
	display: none;
}
.fa-bars {
	position: absolute;
	font-size: 20px;
}

.mobile-icons {
	position: absolute;
	right: 7px;
}
.mobile-icons i {
	padding: 10px;
	font-size: 20px;
	color: black;
}
.mobile-icons a:visited {
	text-decoration: none;
	color: black;
}
.header-mobile {
	display: flex;
	align-items: center;
}

/* index.html -> ACÁ ARRANCA EL MAIN, TODO LO DE ACA ADENTRO PERTENECE AL INDEX.HTML */
/* index.html -> SECCIÓN DONDE VA VIDEO  */
/* .video-container {
	background-color: #8cc0d6;
	height: 100vh;
	color: white;
} */
.video-background {
	width: 1920px;
	height: 1080px;
	z-index: -1;
}

.video-container h2 {
	position: absolute;
	bottom: 70px;
	padding: 20px;
	text-transform: uppercase;
}
.video-container p {
	position: absolute;
	bottom: -10px;
	padding: 20px;
}
/* index.html ->  SECCIÓN DE CARTAS, solo una por el momento en mobile, hasta que veamos como hacer lo del swipe*/
.articles-presentation h3:first-child {
	margin: 20px;
}
.articles-presentation p {
	margin: 20px;
}
.card {
	max-width: 430px;
	width: 80%;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.45);
}

.card h3 {
	margin: 20px;
	text-align: center;
	font-size: 23px;
	height: 70px;
}
.card p:first-of-type {
	height: 130px;
}
.card p {
	margin: 12px;
	text-align: center;
}
.card-rating {
	text-align: center;
	color: #eb8a2f;
	margin-top: 12px;
}
.card-price {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}
.more-info {
	text-decoration: none;
	color: #8cc0d6;
	text-align: center;
	display: block;
}
.more-info:visited {
	text-decoration: none;
	color: #8cc0d6;
}
.more-info i {
	margin-right: 10px;
}
.card-background {
	background-color: #c2c1c1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 115px;
}
.card-buttons {
	padding-bottom: 12px;
}
button {
	cursor: pointer;
}
.card-buy,
.card-cart {
	padding: 10px;
	display: block;
	margin: 20px auto;
	width: 80%;
	border: none;
	color: white;
	border-radius: 5px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}

.card-buy {
	background-color: #8cc0d6;
	border: 3px solid #8cc0d6;
}
.card-cart {
	background-color: #fff;
	border: 3px solid #8cc0d6;
	color: #8cc0d6;
}
.card-cart i {
	padding-right: 10px;
}
.article-card-1,
.article-card-2,
.article-card-3 {
	display: none;
}

/* index.html -> SECCIÓN SOBRE NOSOTROS, por el momento con una sola imagen*/
.about-us {
	text-align: center;
}
.about-us img {
	margin: auto;
	display: block;
}
.about-us h4 {
	padding-top: 20px;
	font-weight: 700;
}
.about-us p {
	margin: 15px;
}
/* index.html -> SECCIÓN DE COMENTARIOS, por el momento con solo uno en mobile hasta ver como hacer el swipe */
.experiences {
	text-align: center;
}
.experience-card-2,
.experience-card-3 {
	display: none;
}
.exp-card {
	width: 80%;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.45);
	padding: 5px;
}

.exp-card p:first-child {
	font-family: "Montserrat", sans-serif;
	text-align: left;
	font-weight: 700;
	padding: 5px;
}
.exp-card p:last-child {
	text-align: left;
	padding: 5px;
}
/* index.html -> LE DI UN MARGIN AL MAIN PARA QUE NO QUEDE TAN PEGADO AL FOOTER */
main {
	margin-top: 76px;
	margin-bottom: 50px;
}
/* index.html -> ACÁ TERMINA EL MAIN DEL INDEX.HTML */
/* register.html y login.html -> ACÁ EMPIEZA EL MAIN DEL REGISTER.HTML U LOGIN.HTML*/
.register-main h2 {
	text-align: center;
	font-size: 21px;
	padding-top: 20px;
}
form input {
	border-radius: 0;
	border: none;
}
form {
	width: 80%;
	margin: auto;
}
form div {
	margin: auto;
	border-bottom: 1px solid black;
	padding-top: 20px;
}
form div i {
	padding: 10px;
	padding-right: 20px;
}
.text-danger {
	color: tomato;
	border-bottom: none;
}
.register-btn {
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 350px;
}
.login-btn {
	width: 65%;
	max-width: 350px;
}
.delete-product {
	color: #ff6666;
	border: 3px solid #ff6666;
}
.register-icons {
	width: 70%;
	max-width: 400px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: auto;
}
.register-opt {
	text-align: center;
}
.register-opt div i {
	border: 1px solid #8cc0d6;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	padding: 15px;
	font-size: 45px;
}
.register-opt .fa-facebook-f {
	padding-left: 15px;
}
/* register.html y login.html -> ACÁ TERMINA EL MAIN DEL REGISTER.HTML U LOGIN.HTML*/
/* productCart.html -> ARRANCA MAIN DE PRODUCTCART.HTML*/
.cart-main h2 {
	text-align: center;
	padding-top: 20px;
}
.cart-container {
	margin: auto;
	width: 80%;
}
.cart-product {
	margin: auto;

	padding: 20px 0px;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	border-top: 1px solid gray;
}
.cart-img {
	position: relative;
	width: 40%;
	max-width: 160px;
}
.cart-img i {
	position: absolute;
	left: -8px;
	top: -8px;
	background-color: #fff;
	border-radius: 50%;
}
.cart-container article:last-child {
	border-bottom: 1px solid gray;
}
.cart-product img {
	display: block;
	width: 100%;
	margin: auto;
	max-height: 160px;
}
.cart-item-data {
	width: 70%;
	margin-left: 25px;
	height: 160px;
	position: relative;
}
.cart-item-data h3 {
	margin-top: 0px;
}
.cart-item-price {
	position: absolute;
	bottom: 0px;
}
.cart-checkout {
	margin: auto;
	width: 80%;
}
.cart-total-price {
	font-size: 25px;
	font-weight: 700;
}
.coupon {
	display: none;
}
/* productCart.html -> ARRANCA MAIN DE PRODUCTCART.HTML*/
/* productDetail.html -> ARRANCA MAIN DE PRODUCTDETAIL.HTML*/
.prod-detail-main h2 {
	text-align: center;
	padding-top: 20px;
}
.prod-detail-main section {
	padding: 20px;
}
.prod-detail-main section p span {
	font-weight: 700;
}

.video-container-producto img {
	width: 100%;
	height: auto;
}
.right-what-for {
	display: none;
}
.sticky-product {
	display: none;
}
.product-what-for ul {
	list-style-type: none;
	padding-left: 5px;
}
.content-desktop {
	display: none;
}
.tick-list {
	display: flex;
	align-items: center;
}
.fa-check {
	margin-right: 15px;
}
.stars-product {
	text-align: left;
}
.stars-product i {
	margin-right: 15px;
}
.product-price {
	font-size: 35px;
	font-weight: 700;
}
.fa-globe {
	margin-right: 10px;
}
.other-programs {
	display: flex;
	justify-content: space-evenly;
}
/* productDetail.html -> TERMINA MAIN DE PRODUCTDETAIL.HTML*/
/* addProduct.html -> ARRANCA MAIN DE ADDPRODUCT.HTML*/
.add-product label {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	padding-bottom: 20px;
}
.add-product input {
	border: 1px solid gray;
	width: 100%;
	height: 150px;
}
.add-product {
	border-bottom: none;
}
.add-price input,
.add-img input {
	height: 50px !important;
}
.edit-product {
	width: 80%;
}
/* FOOTER */
footer {
	background-color: #707070;
	padding-bottom: 1px;
	color: white;
}
.footer-social {
	display: flex;
	justify-content: space-between;
	margin: 20px 50px;
	padding-top: 20px;
}
.footer-social i {
	font-size: 30px;
	color: white;
}
footer nav ul li {
	list-style-type: none;
}
footer nav ul li a {
	color: white;
	text-decoration: none;
}
.rights {
	display: flex;
	align-items: center;
	justify-content: center;
}
footer nav {
	display: flex;
	justify-content: space-evenly;
}
.footer-izq,
.footer-der {
	width: 50%;
	padding-inline-start: 0px;
}
.footer-izq li,
.footer-der li {
	margin: 10px;
	padding: 10px 30px 10px 30px;
}
.footer-der {
	text-align: right;
}
.rights p {
	margin-right: 5px;
}
/* MEDIA QUERY PARA TABLET */

@media (min-width: 769px) {
	/* HEADER */
	i.fas.fa-bars,
	.mobile-icons {
		display: none;
	}
	header {
		padding: 10px 20px;
		position: initial;
	}
	header nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
	header nav ul {
		display: flex;
		padding-inline-start: 0px;
	}
	.nav-izq,
	.nav-der {
		display: flex;
		justify-content: space-between;
		width: 35%;
	}
	header nav ul li {
		list-style: none;
		margin: 10px;
	}
	header nav ul li a {
		text-decoration: none;
		text-transform: uppercase;
	}

	header nav ul li a:visited {
		color: black;
		text-decoration: none;
	}
	header nav ul li a:link {
		color: black;
		text-decoration: none;
	}
	/* index.html -> ARRANCA EL MAIN */
	main {
		margin-top: 0px;
	}
	/* index.html ->  SECCION DONDE VA VIDEO */
	.video-container h2 {
		font-size: 30px;
	}
	/* index.html -> SECCION DE CARTAS */
	.articles-presentation {
		text-align: center;
	}
	.articles-presentation h3:first-child {
		margin: 20px;
		text-transform: uppercase;
		padding-top: 20px;
		font-weight: 700;
		font-size: 35px;
	}
	.articles-presentation p {
		margin: 20px;
		padding: 20px;
	}

	.article-group {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}
	.card {
		display: inline-block;
		max-width: 30vw;
		margin: initial;
	}
	.card-price {
		font-size: 40px;
	}

	/* index.html -> SECCION SOBRE NOSOTROS*/
	.about-us h4 {
		text-transform: uppercase;
		font-size: 35px;
	}

	.about-us p {
		margin: 25px;
	}
	.about-us h5 {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 25px;
	}
	/* index.html -> SECCION EXPERIENCIAS */

	.exp-container {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}
	.experiences h4 {
		font-size: 35px;
		text-transform: uppercase;
		text-align: center;
	}

	.exp-card {
		display: inline-block;
		width: 30%;
		max-width: 350px;
		margin: initial;
	}
	/* register.html y login.html -> ARRANCA MAIN DEL REGISTER.HTML Y LOGIN.HTML */
	.register-main form {
		max-width: 615px;
	}
	.register-icons {
		max-width: 400px;
	}
	/*FOOTER*/
	.footer-social {
		width: 30%;
		max-width: 335px;
		margin: auto;
		padding-bottom: 50px;
	}
	.footer-social i {
		font-size: 30px;
	}
	footer nav {
		display: none;
	}
}
/* MEDIA QUERY PARA DESKTOP */

@media (min-width: 1220px) {
	/* index.html -> ARRANCA INDEX.HTML*/
	/* index.html -> SECCION DE TARJETAS*/
	.card {
		min-width: 365px;
		max-width: 25vw;
	}
	.card-price {
		font-size: 50px;
	}
	.card-buy,
	.card-cart {
		display: inline-block;
		width: 45%;
	}

	/* index.html -> SECCION SOBRE NOSOTROS */
	.about-us {
		height: 300px;
	}
	.about-us h5 {
		margin: 20px 0px 20px 0px;
		padding-top: 20px;
	}
	.about-us p {
		width: 80%;
		margin: initial;
	}
	.about-us-container {
		width: 65%;
		float: right;
		text-align: left;
		height: 200px;
	}
	.about-us img {
		float: right;
	}
	.about-us-img {
		display: block;
		width: 35%;
		float: left;
		padding-right: 10px;
	}
	/* register.html y login.html -> ARRANCA REGISTER.HTML Y LOGIN.HTML */
	.register-btn {
		width: 80%;
		display: block;
	}
	.login-btn {
		display: block;
	}
	/* productCart.html -> ARRANCA EL PRODUCTCART.HTML*/
	.cart-main {
		text-align: center;
	}
	.cart-container {
		width: 60%;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
	}
	.cart-checkout {
		width: 30%;
		display: inline-block;
		vertical-align: top;
		padding-top: 38px;
		margin-left: 40px;
		text-align: left;
	}
	.checkout-btn {
		display: inline-block;
		margin-bottom: 20px;
	}
	.cart-total-price {
		font-size: 40px;
	}
	.coupon {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80%;
		max-width: 350px;
		border-top: 1px solid gray;
	}
	.coupon input {
		width: 50%;
		font-size: 16px;
		border-color: #cccccc;
		border-style: solid;
		padding: 4px;
		border-width: 1px;
		border-radius: 7px;
		text-align: center;
		background-color: #ffffff;
		height: 46px;
	}
	.coupon button {
		width: 40%;
		display: inline-block;
		margin-right: 0px;
	}
	/* productdetail.html -> ACA ARRANCA PRODUCTDETAIL.HTML*/
	.prod-detail-main h2 {
		display: none;
	}
	.video-container-producto {
		display: none;
	}
	.product-mobile-btn {
		display: none;
	}
	.product-price {
		display: none;
	}
	.content-mobile {
		display: none;
	}
	.content-desktop {
		display: block;
		box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.45);
		border-radius: 10px;
	}
	.sticky-product {
		display: block;
		width: 30%;
		box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.45);
		border-radius: 10px;
		position: fixed;
		right: 3%;
		top: 100px;
		max-width: 333px;
		background-color: #fff;
		text-align: center;
	}
	section.sticky-product {
		padding: 0px;
	}
	.sticky-info-container {
		padding: 0px 20px 20px 20px;
	}
	.sticky-coupon {
		text-align: center;
		text-decoration: none;
		color: #8cc0d6;
	}
	.prod-detail-main .desktop-product {
		background-color: #8cc0d6;
		padding: 50px 550px 20px 70px;
	}
	.prod-detail-main {
		position: relative;
	}

	.left-what-for,
	.right-what-for {
		display: inline-block;
		width: 40%;
	}
	.product-what-for {
		box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.45);
		border-radius: 10px;
	}
	.product-what-for h4 {
		padding: 20px;
		margin-bottom: 0px;
		padding-left: 45px;
		padding-top: 20px;
	}
	.product-info {
		width: 68%;
		margin-left: 30px;
	}
	.sticky-description {
		padding-left: 45px;
		padding-top: 20px;
	}

	.product-info article h4 {
		padding: 20px;
		margin-bottom: 0px;
		padding-left: 45px;
		padding-top: 40px;
	}
	.sticky-description h4 {
		padding-left: 0px !important;
		margin-left: 0px;
	}
	.tick-desktop {
		display: flex;
		justify-content: space-evenly;
	}
	.item-content {
		border-bottom: 1px solid gray;
		display: flex;
	}
	.item-content:last-child {
		border: none;
	}
	.fa-caret-right,
	.fa-caret-down {
		padding: 20px;
		padding-top: 36px;
		margin-left: 45px;
	}
	.other-programs {
		width: 70%;
	}
	.other-programs-sect h4 {
		margin-left: 70px;
	}
	.sticky-buttons {
		text-align: center;
		padding-bottom: 0px;
	}
	.sticky-buttons-block {
		display: block;
		width: 100%;
	}
	.sticky-ticks {
		list-style-type: none;
		padding-left: 0px;
		text-align: left;
	}
	.sticky-price {
		font-size: 50px;
		font-weight: 700;
		text-align: center;
		margin: 20px 0px;
	}
	.product-background {
		background-color: #c2c1c1;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		height: 140px;
	}
	/* addproduct.html -> ARRANCA EL ADDPRODUCT.HTML*/
	.edit-product {
		width: 100%;
	}
}
/* @media (min-aspect-ratio: 16/9) {
	.video-background {
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	.video-background {
		width: auto;
		height: 100%;
	}
}
 */
