<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        <div class="video-container">
            <video src="" class="video-background"></video>
            <h2>Lorem Ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, placeat quae obcaecati modi culpa
                consequuntur? Ratione!
            </p>
        </div>
        <section class="articles-presentation" id="programs">
            <h3>lorem ipsum</h3>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, tempora, non perferendis nemo veritatis
                impedit amet magnam possimus tempore expedita veniam quasi. Consequuntur, earum recusandae nemo
                voluptatem
                at qui unde!</p>
            <div class="article-group">
                <article class="article-card card">
                    <div class="card-background">
                        <img src="" alt="">
                    </div>
                    <h3>Titulo 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequuntur nemo eaque aut sit
                        iste
                        necessitatibus possimus dolor aspernatur odit</p>
                    <div class="card-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <p class="card-price">$3.500</p>
                    <a href="/productDetail" class="more-info"><i class="fas fa-info-circle"></i>Más información</a>
                    <div class="card-buttons">
                        <button class="card-buy">Comprar</button>
                        <button class="card-cart"><i class="fas fa-shopping-cart"></i>Agregar</button>
                    </div>
                </article>
                <article class="article-card-2 card">
                    <div class="card-background">
                        <img src="" alt="">
                    </div>
                    <h3>Titulo 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequuntur nemo eaque aut sit
                        iste
                        necessitatibus possimus dolor aspernatur odit</p>
                    <div class="card-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <p class="card-price">$3.500</p>
                    <a href="/productDetail" class="more-info"><i class="fas fa-info-circle"></i>Más información</a>
                    <div class="card-buttons">
                        <button class="card-buy">Comprar</button>
                        <button class="card-cart"><i class="fas fa-shopping-cart"></i>Agregar</button>
                    </div>
                </article>
                <article class="article-card-3 card">
                    <div class="card-background">
                        <img src="" alt="">
                    </div>
                    <h3>Titulo 3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequuntur nemo eaque aut sit
                        iste
                        necessitatibus possimus dolor aspernatur odit</p>
                    <div class="card-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <p class="card-price">$3.500</p>
                    <a href="/productDetail" class="more-info"><i class="fas fa-info-circle"></i>Más información</a>
                    <div class="card-buttons">
                        <button class="card-buy">Comprar</button>
                        <button class="card-cart"><i class="fas fa-shopping-cart"></i>Agregar</button>
                    </div>
                </article>
            </div>
        </section>
        <section class="about-us">
            <h4>Sobre Nosotros</h4>
            <div class="about-us-img">
                <img src="/images/foto-nosotros.png" alt="">
            </div>
            <div class="about-us-container">
                <h5>Job Search Experience</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vel ratione error recusandae dolor
                    quia
                    aliquam minima, earum qui, aspernatur quod dicta voluptatum incidunt atque. Similique molestias
                    corrupti
                    est debitis.</p>
            </div>
        </section>
        <section class="experiences">
            <h4>Experiencias</h4>
            <div class="exp-container">
                <article class="experience-card exp-card">
                    <p>Juan Hernández</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat deleniti excepturi fuga
                        facilis,
                        ullam recusandae porro quia</p>
                </article>
                <article class="experience-card-2 exp-card">
                    <p>Juan Hernández</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat deleniti excepturi fuga
                        facilis,
                        ullam recusandae porro quia</p>
                </article>
                <article class="experience-card-3 exp-card">
                    <p>Juan Hernández</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat deleniti excepturi fuga
                        facilis,
                        ullam recusandae porro quia</p>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>

</html>