<div class="footer-social">
    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
</div>
<nav>
    <ul class="footer-izq">
        <li><a href="/">HOME</a></li>
        <li><a href="#programs">PROGRAMAS</a></li>
        <li><a href="#">NOSOTROS</a></li>
    </ul>
    <ul class="footer-der">
        <li><a href="/productCart">CARRITO</a></li>
        <li><a href="/login">INGRESO</a></li>
        <li><a href="/register">REGISTRO</a></li>
    </ul>
</nav>
<div class="rights">
    <p>All rights reserverd</p><i class="far fa-copyright"></i>
</div>