<nav>
    <ul class="nav-izq">
        <li><a href="/">Home</a></li>
        <li><a href="#programs">Programas</a></li>
        <li><a href="#">Nosotros</a></li>
    </ul>
    <div class="header-mobile">
        <i class="fas fa-bars"></i>
        <a href="/" style="margin: auto;">
            <h1 id="logo">Job Search Experience</h1>
        </a>
        <div class="mobile-icons">
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/login"><i class="fas fa-user"></i></a>
        </div>
    </div>
    <ul class="nav-der">
        <li><a href="/productCart">Carrito</a></li>
        <li><a href="/login">Ingreso</a></li>
        <li><a href="/register">Registro</a></li>
    </ul>
</nav>