<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main class="register-main">
        <h2>Inicia Sesión</h2>
        <form method="POST" action="/user/login" enctype="multipart/form-data">
            <!-- <div>
                <i class="fas fa-user"></i><input type="text" name="usuario" id="usuario" placeholder="Jose Hernández">
            </div> -->
            <div>
                <i class="fas fa-envelope"></i><input type="email" name="email" id="email"
                    placeholder="tuemail@email.com">
            </div>
            <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
            <% } %>
            <div>
                <i class="fas fa-lock"></i><input type="password" name="password" id="password" placeholder="********">
            </div>
            <input type="checkbox" name="remember_user"> Recordar mi usuario
            <button type="submit" class="card-buy register-btn">Iniciar Sesión</button>
        </form>
        <section class="register-opt">
            <p>O ingresa con una de las siguientes:</p>
            <div class="register-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
            </div>
            <p>No tienes una cuenta?</p>
            <button onclick="location.href='/user/register'" class="card-cart login-btn">Registrarse</button>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>